:root {
  --color-purple: #8E81F0;
  --color-dark: #00433B;
  --color-orange: #AF5E42;
  --color-blue: #3180A9;
  --color-yellow: #AE9F49;
  --color-white: #FAF7F3;
  accent-color: var(--color-green);
}

.text-orange {
  color: var(--color-orange);
}
.text-blue {
  color: var(--color-blue);
}
.text-yellow {
  color: var(--color-yellow);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: var(--color-dark);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--color-orange);
}

html {
  box-sizing: border-box;
}

@font-face {
  font-family: "PPMori";
  src: url("/fonts/PPMori/PPMori-Regular.otf") format("opentype");
  font-style: normal;    
  font-weight: 400;
}
@font-face {
  font-family: "PPMori";
  src: url("/fonts/PPMori/PPMori-SemiBold.otf") format("opentype");
  font-style: normal;    
  font-weight: 600;
}

@font-face {
  font-family: "DMMono";
  src: url("/fonts/DMMono/DMMono-Regular.ttf") format('truetype');
  font-style: normal;    
  font-weight: 400;
}
@font-face {
  font-family: "DMMono";
  src: url("/fonts/DMMono/DMMono-Medium.ttf") format('truetype');
  font-style: normal;    
  font-weight: 500;
}

h1 {
  font-weight: 400;
  font-size: 3rem;
  line-height: 4.25rem;
  font-family: 'PPMori';
}

h2 {
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.5em;
  font-size: 2.5rem;
  line-height: 1.15;
  padding-bottom: 5rem;
  width: fit-content;
  margin: 0 auto;
  font-family: 'DMMono';
}

h3 {
  font-weight: 800;
}

a {
  font-weight: 500;
  text-decoration: none;
  color: unset;
}

.main-link {
  transition: all 0.4s ease-out;
  color: var(--color-dark);
}
.main-link:hover {
  transition: all 0.4s ease-out;
  color: var(--color-purple);
}

.hover-container {
  cursor: pointer;
}

.hover-text,
.mechanism-title,
.mechanism-box_title {
  font-family: 'DMMono';
}

.hover-container:hover .hover-text {
  color: var(--color-purple);
}

.main-link {
  font-size: 110%;
}

/* header */
header {
  padding: 2.5rem;
}

/* modals */
.modal-close {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 101;
  cursor: pointer;
  color: white;
  transition: color 0.4s ease-out;
}
.modal-close:hover {
  color: var(--color-green);
}

@media only screen and (max-width: 600px) {
  body,
  a,
  h3 {
    font-size: 1.35rem;
  }
  h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
  h2 {
    padding-bottom: 3.5rem;
  }
}

@media only screen and (max-width: 400px) {
  body,
  a,
  h3 {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  h2 {
    font-size: 2rem;
    line-height: 2.2rem;
  }
}