:root {
  --color-dark: #041e42;
  --color-blue: #5784F7;
  --color-green: #3CDBC0;
  --gradient: linear-gradient(312.31deg, #08FFB8 30.49%, #5799F7 94.47%);
  --gradient-reverted: linear-gradient(312.31deg, #5799F7 30.49%, #08FFB8 94.47%);
  accent-color: var(--color-green);
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: var(--color-dark);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--gradient);
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  overflow-x: hidden;
  color: white;
}

h1 {
  font-weight: 900;
  font-size: 3rem;
  line-height: 4.25rem;
}

h2 {
  text-align: center;
  font-weight: 300;
  letter-spacing: 0.5em;
  font-size: 2.5rem;
  line-height: 1.15;
  padding-bottom: 5rem;
  width: fit-content;
  margin: 0 auto;
}

h3,
a {
  font-weight: 800;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  color: unset;
}

.hover-gradient-text,
.gradient-text,
.main-link {
  transition: all 0.4s ease-out;
  background: var(--gradient);
  -webkit-background-clip: text;
	background-clip: text;
}

.h2-sm.gradient-text {
  letter-spacing: 0.08em;
  background: var(--gradient-reverted);
  -webkit-background-clip: text;
	background-clip: text;
}

.hover-gradient-text,
.main-link {
  color: white;
}

.hover-container {
  cursor: pointer;
}

.gradient-text,
.hover-container:hover .hover-gradient-text,
.main-link:hover {
  color: transparent;
}

.main-link {
  font-size: 110%;
}

/* header */
header {
  padding: 2.5rem;
}

/* modals */
.modal-close {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 101;
  cursor: pointer;
  color: white;
  transition: color 0.4s ease-out;
}
.modal-close:hover {
  color: var(--color-green);
}

@media only screen and (max-width: 600px) {
  body,
  a,
  h3 {
    font-size: 1.35rem;
  }
  h1 {
    font-size: 2rem;
    line-height: 3rem;
  }
  h2 {
    padding-bottom: 3.5rem;
  }
}

@media only screen and (max-width: 400px) {
  body,
  a,
  h3 {
    font-size: 1rem;
  }
  h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  h2 {
    font-size: 2rem;
    line-height: 2.2rem;
  }
}